p, h1, h6 {
  font-family: 'Arvo', serif;
}

body {
background: #ededed;
}

h1 {
  padding: 20px;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
}

main {
  background: url('../img/corp.png') no-repeat;
  width: 400px;
  height: 500px;
  margin: auto;
}

.point {
  position: relative;
  background: hsla(180, 100%, 1%, .7);
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.point:hover {
  background: hsla(5, 100%, 50%, .7);
}

.epaule {
  top: 42px;
  left: -2px;
}

.coude {
  top: 95px;
  left: 104px;
}

.main {
  top: 110px;
  left: -7px;
}

.hanche {
  top: 59px;
  left: 85px;
}

.genoux {
  top: 147px;
  left: 26px;
}

.pied {
  top: 433px;
  left: 71px;
}

.text {
  position: relative;
  visibility: hidden;
  width: 300px;
}

.text p {
  font-size: 15px;
}

.text h6 {
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 15px;
}

#genoux {
  top: -343px;
  left: 140px;
}

#pied {
  top: -429px;
  left: 95px;
}

#hanche {
  top: -215px;
  left: 81px;
}

#main {
  top: -226px;
  left: 173px;
}

#coude {
  top: -171px;
  left: 62px;
}

#epaule {
  top: -78px;
  left: 168px;
}

.point:hover .text {
  visibility: visible;
}
